/* styles.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
}

button {
  padding: 10px;
  border: none;
  background-color: #337ab7;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #286090;
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form input[type="text"],
form input[type="number"] {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px;
  border: none;
  background-color: #5cb85c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: #4cae4c;
  transform: scale(1.05);
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table td button {
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  /* Space between buttons */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

table td .edit-button {
  background-color: #5bc0de;
}

table td .edit-button:hover {
  background-color: #31b0d5;
  transform: scale(1.05);
}

table td .delete-button {
  background-color: #d9534f;
}

table td .delete-button:hover {
  background-color: #c9302c;
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: #337ab7;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:enabled {
  background-color: #286090;
  transform: scale(1.05);
}

.pagination button:disabled:hover {
  transform: none;
  /* Prevent scaling on hover if disabled */
}